<div
    class="flex items-center justify-between md:h-24 h-16 border border-gray shadow-md shadow-black/10 md:px-20 px-6"
>
    <img
        class="md:w-[202px] w-32"
        src="assets/icons/logo.svg"
        alt="logo icon"
    />
    <div class="flex items-center justify-between md:w-48 w-28">
        <img
            class="md:size-10 size-6"
            src="assets/icons/notification.svg"
            alt="logo icon"
        />
        <img
            class="md:size-10 size-6"
            src="assets/icons/user-profile.svg"
            alt="logo icon"
        />
        <img
            class="md:size-10 size-6"
            src="assets/icons/hamburger-menu.svg"
            alt="logo icon"
        />
    </div>
</div>
